body {
	background: #fff;
}
#navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 60px;
	width: calc(100vw - 300px);
	background: #fff;
}
#navbar:after {
	content: "";
	background: #ddd;
	height: 1.5px;
	width: calc(100% - 20px);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#navbar ul {
	float: right;
	list-style: none;
	top: 50%;
	right: 2.5vw;
	position: absolute;
	transform: translate(-50%,-50%);
}
#navbar ul li a {
	text-decoration: none;
	color: var(--themeColor1);
	position: relative;
	padding: 10px 20px;
}
#navbar ul li a i {
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 300px;
	background: #333;
}
#sidebarFrame {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 300px;
	background: #333;
	border: none;
}
#chatWindow {
	width: calc(100vw - 320px);
	height: calc(100vh - 80px);
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#chatLog {
	position: absolute;
	width: calc(100vw - 320px - 20px);
	height: calc(80% - 20px);
	border: 1px solid var(--themeColor2);
	border-radius: 6px;
	top: 10px;
	left: 10px;
}
#chatInput {
	position: absolute;
	width: calc(100vw - 320px - 20px);
	height: calc(20% - 10px);
	bottom: 10px;
	left: 10px;
}
#chatInput textarea {
	max-width: calc(100% - 10px);
	min-width: calc(100% - 10px);
	max-height: calc(100% - 10px);
	min-height: calc(100% - 10px);
	border: 1px solid var(--themeColor2);
	border-radius: 6px;
	padding: 5px;
	font-family: "Raleway",serif;
}
textarea:focus {
	border-color: var(--themeColor1);
}