#header {
	height: 60px;
	width: 100%;
	position: relative;
}
#header:after {
	content: "";
	background: #ddd;
	height: 1px;
	width: calc(100% - 20px);
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}
#header h1 {
	color: var(--themeColor2);
	font-size: 26px;
	margin: 0 10px;
	overflow: hidden;
	max-height: 30px;
}
#header h1 span {
	color: var(--themeColor1);
}
#header #username {
	color: #ccc;
	margin: 0 10px 0 20px;
}
#listBody {
	display: block;
	width: 100%;
	position: relative;
	margin: 10px 0;
}
#listBody h1 {
	color: var(--themeColor2);
	font-size: 24px;
}
#listBody .addButton {
	font-size: 20px;
	color: #ccc;
	padding: 3px 5px;
	cursor: pointer;
}
#listBody .addButton:hover {
	color: #fff;
}
#listBody .List1 {
	display: block;
	list-style: none;
	margin: 0 10px;
	width: 280px;
}
#listBody .List1 li p {
	color: #ccc;
	cursor: pointer;
}
#listBody .List1 li p:hover {
	color: #fff;
}
#listBody .Push1 {
	margin-left: 10px;
}
#listBody .iHeader {
	display: inline-grid;
	width: 280px;
	grid-template-columns: 88% 12%;
}
.listItem {
	line-height: 25px;
}